<div class="text-center">
  <h1>Speak to your coach</h1>
</div>
<div class="text-center">
  <form action="/answer" class="form-inline">
    <div class="form-group">
      <input type="text" name="question" placeholder="Speak to your coach" class="form-control">
      <input type="submit" value="Ask!" class="btn btn-primary">
    </div>
  </form>
</div>

